<% if @equipments.empty? %>
	<h3>Aucun equipement en base de donnée</h3>
<% else %> 
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Label</td>
				<td>Modele</td>
				<td>Marque</td>
				<td>Achat</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @equipments.each do |equipment| %>
			<tr>
				<td><%= equipment.label%></td>
				<td><%= equipment.modele %></td>
				<td><%= equipment.marque %></td>
				<td><%= equipment.achat %></td>
				<td><%= link_to "Edit", edit_equipment_path(equipment)%></td>
				<td><%= link_to "Delete", equipment, :method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to "Create", new_equipment_path %>