<h1>Affichage d'un Equipement</h1>
<ul>
	<li>
		Label : <%= @equipment.label %>
	</li>
	<li>
		Modèle : <%= @equipment.modele %>
	</li>
	<li>
		Marque : <%= @equipment.marque %>
	</li>
	<li>
		Achat : <%= @equipment.achat %>
	</li>
	<li>
		 Type d'équipement: <%= @equipment_type.label %>
	</li>
</ul>