<h1>Creation d'un utilisateur</h1>
<%= form_for @user, :url => { :action => "create" }, :html => {:class => "form_new"} do |f| %>
  
  <% if @user.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>  
    <ul>  
    <% @user.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 

  #:region => regions exposes the regions array as a local variable in the partial
  <%= render :partial => f, :locals => { :group => @group } %>

  <%= f.submit "Create" %>

<% end %>