<h1>Edition d'un Type de travail</h1>
<%= form_for @work_type, :url => { :action => "update" }, :html => {:class => "form_update"} do |f| %>
  
  <% if @work_type.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@work_type.errors.count, "error") %> prohibited this work_type from being saved:</h2>  
    <ul>  
    <% @work_type.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 
  
  <%= render :partial => f %>

  <p>
  <%= f.submit "Create" %>
  </p>
<% end %>