<h1>Edition d'un utilisateur</h1>
<%= form_for @worker, :url => { :action => "update" }, :html => {:class => "form_update"} do |f| %>
  
  <% if @worker.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>  
    <ul>  
    <% @worker.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 
  
  <%= render :partial => f %>

  <p>
  <%= f.submit "Create" %>
  </p>
<% end %>