  <p>
  	<%= form.label :surface %>
  	<%= form.text_field :surface %>
  </p>
  <p>
  	<%= form.label :commune %>
  	<%= form.text_field :commune %>
  </p>
  <p>
  	<%= form.label :section %>
  	<%= form.text_field :section %>
  </p>
  <p>
  	<%= form.label :numero %>
  	<%= form.text_field :numero %>
  </p>
  <p>
  	<%= form.label :gps %>
  	<%= form.text_field :gps %>
  </p>
  <p>
  	<%= form.label :location %>
  	<%= form.text_field :location %>
  </p>
