<% if @plot_informations.empty? %>
	<h3>Aucune tache en base de donnée</h3>
<% else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Surface</td>
				<td>Commune</td>
				<td>Section</td>
				<td>Numero</td>
				<td>GPS</td>
				<td>Location</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @plot_informations.each do |plot_information| %>
			<tr>
				<td><%= plot_information.surface %></td>
				<td><%= plot_information.commune %></td>
				<td><%= plot_information.section %></td>
				<td><%= plot_information.numero %></td>
				<td><%= plot_information.gps %></td>
				<td><%= plot_information.location %></td>
				<td><%= link_to "Edit", edit_plot_information_path(plot_information)%></td>
				<td><%= link_to "Delete", plot_information, :method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to "Create", new_plot_information_path %>