<h1>Affichage d'un ouvrier</h1>
<ul>
	<li>
		Surface : <%= @plot_information.surface %> 
	</li>
	<li>
		Commune : <%= @plot_information.commune %> 
	</li>
	<li>
		Section : <%= @plot_information.section %> 
	</li>
	<li>
		Numéro : <%= @plot_information.numero %> 
	</li>
	<li>
		GPS : <%= @plot_information.gps %> 
	</li>
	<li>
		Location : <%= @plot_information.location %> 
	</li>
</ul>