<h1>Creation d'un type d'équipement</h1>
<%= form_for @equipment_type, :url => { :action => "create" }, :html => {:class => "form_new"} do |f| %>
  
  <% if @equipment_type.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@equipment_type.errors.count, "error") %> prohibited this equipment type from being saved:</h2>  
    <ul>  
    <% @equipment_type.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 

  <%= render :partial => f %>

  <%= f.submit "Create" %>

<% end %>